/*font roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

/*color code*/

:root{
    --background:#0f1141;
    --textColor:#FBFBFB;
    --lightWhite:#918981;
    --headBackground:linear-gradient(0deg, #148a7e 0%, rgba(43, 196, 182, 1) 90%, rgba(43, 196, 182, 1) 100%);
    --brandText:#f0f1fa;
    --menulayoutColor:#15185c;
    --transistionIn: all 0.3s ease-in;
    --transitionOut: all 0.3s ease-out;

}

/* root body*/

body{
    width: 100%;
    height: auto;
    background-color: var(--background);
    
}

html {
    scroll-behavior: smooth;
}



/*main content start here*/

.sidebarContainer{
    width: 100%;
}


/*menu button */

.sidebarContainer .sidebarButton{
    right: 0px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    margin: 30px 50px;
    display: none;


}
.sidebarContainer .sidebarButton button{
    padding: 10px 15px;
    background-color:#09b3aa;
    border-radius: 6px;
    display: flex;
    align-items: center;

}

/*transparent overlay (default inactive state)*/

.sidebarContainer .sidebarOverlay{
    display: none;
    position: fixed;
	left:0;
	top:0;
	z-index: -10;
	height: 100%;
	width: 100%;
    
}

/*transparent overlay active state after clicked*/

.sidebarContainer .sidebarOverlay.active {
    display: flex;
    transition: var(--transitionOut);
    background-color: rgba(106, 109, 151, 0.37);
}


/*main slider body  (default inactive state)*/

.sidebarContainer .sidebarMenu{
    position: fixed;
	right:0;
	top:0;
    background: transparent;
    background-color: var(--menulayoutColor);
	height: 100%;
	width: 45%;
	z-index: 20;
	transform: translateX(100%);
    transition: var(--transitionOut);
	overflow-y: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 10px;
    box-shadow: 1px 1px 5px darkblue;
}

/*main slider body active state after clicked */

.sidebarContainer .sidebarMenu.active {
    display: flex;
    transform: translateX(0%);
    transition: var(--transistionIn);
}

/*main slider brand logo */

.sidebarContainer .sidebarMenu .sidebarLogo{
    width: 100%;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
    color: white;
    margin-bottom: 20px;
}

/*main slider brand logo image */

.sidebarContainer .sidebarMenu .sidebarLogo img{
    width: 15%;
    display: block;
    margin: auto;
    margin-right: 0px;
}

/*main slider brand title */

.sidebarContainer .sidebarMenu .sidebarLogo span{
    text-transform: uppercase;
    text-align: right;
    color: var(--brandText);
}

/*main slider menu list heading */

.sidebarContainer .sidebarMenu .sidebarHead{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 0px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    background: var(--headBackground);
}

/*main slider menu list heading title dashboard*/

.sidebarContainer .sidebarMenu .sidebarHead span{
    margin-right: 10px;
    font-weight: 400;
    color: var(--textColor);
}

/*main slider menu unorder list */

.sidebarContainer .sidebarMenu ul{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/*main slider menu unorder single list*/

.sidebarContainer .sidebarMenu ul li{
    padding: 6px 0px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*main slider menu list logout item */

.sidebarContainer .sidebarMenu .listContent{
    width: 100%;
    padding: 0px 10px;
}

.sidebarContainer .sidebarMenu .listContent .listLogout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 0px;
    padding: 25px 0px;
    border-top: 1px solid var(--lightWhite);
    border-bottom: 1px solid var(--lightWhite);
}


/*main slider menu unorder list items*/


.sidebarContainer .sidebarMenu ul li a{
    color: var(--textColor);
    text-transform: capitalize;
    font-weight: 300;
    text-align: right;
    
}


.sidebarContainer .sidebarMenu ul li a span {
    text-transform: uppercase;
    font-weight: 300;
}

/*main slider menu unorder list icons*/

.sidebarContainer .sidebarMenu ul li iconify-icon{
    margin-left: 20px;
}


/*log out alart*/

.alartContainer {
    width: 80%;
    position: absolute;
    z-index: 600;
    top: 40px;
    left: 40px;
    transform: translateY(-300%);
    overflow-y: auto;
    overflow: hidden;
}

.alartContainer.active {
    display: flex;
    transform: translateY(0%);
    transition: var(--transitionOut);
}

.alartContainer .logoutAlart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    width: 20%;
    padding: 20px 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
}


.alartContainer .logoutAlart h4 {
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    color: red;
    margin-bottom: 10px;
}

.alartContainer .logoutAlart p {
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.alartContainer .logoutAlart .confirmationButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alartContainer .logoutAlart .confirmationButton a {
    padding: 5px 10px;
    border: 1px solid black;
}




/* mobile display responsive style*/


@media screen and (max-width: 500px){

    /* menu button active only mobile*/
    
    .sidebarContainer .sidebarButton{
        display: flex;
    }

    /* font size responsiveness*/

    .sidebarContainer .sidebarMenu .sidebarHead span{
        font-size: calc(0.5vw + 10px);
    }

    .sidebarContainer .sidebarMenu ul li a{
        font-size: calc(0.5vw + 10px);
    }

    .sidebarContainer .sidebarMenu ul li a span{
        font-size: calc(0.5vw + 10px);
    }

    .sidebarContainer .sidebarMenu .sidebarLogo span{
        font-size: calc(1vw + 10px);
    }

    .alartContainer .logoutAlart {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: antiquewhite;
        width: 40%;
        padding: 10px 10px;
        border: 1px solid black;
        box-shadow: 1px 1px 2px black;
    }

    .alartContainer .logoutAlart .confirmationButton a{
        font-size: calc(0.5vw + 10px);
    }
}





